.nav_container {
  width: calc(100% - 60px);
  padding: desktop_length(20) 0;
  background-color: var(--secondary);
  margin: desktop_length(10) desktop_length(30) 0 desktop_length(30);
  border-radius: desktop_length(10);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  .nav_section {
    display: flex;
    align-items: center;
    padding: 0 desktop_length(30) 0 desktop_length(30);
    .nav_section_logo {
      background: linear-gradient(to right, var(--primary), var(--brown));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include f18(800);
      text-transform: uppercase;
    }
    .nav_section_sign {
      margin: 0 0 0 auto;
      cursor: pointer;
      @include f16(400);
      color: var(--primary);
    }
    .nav_section_switch {
      margin: 0 0 0 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .nav_section_switcher {
      cursor: pointer;
      @include f16(400);
      display: none;
    }
  }
}
